* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #d1d1d1;
  font-family: monospace;
}

:root {
  background-color: #191919;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  padding: 0px 9px;
}

.box:hover {
  background-color: #2d2d2d;
}